# Unity generated
/Library/
/Temp/
/Obj/
/Builds/
/Logs/
/Library/PackageCache/

# Visual Studio / MonoDevelop generated
*.sln
*.csproj
*.unityproj
*.suo
*.user
*.tmproj
*.tmp
*.svd
*.pidb
*.userprefs

# Rider generated
.idea/

# Mac generated
.DS_Store
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db
